<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Event
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Student" asp-action="Create">
                    <div class="form-group">
                        <label for="EventName">Subject:</label>
                        <input type="text" class="form-control" id="name" name="EventName" required />
                    </div>
                  
                    <div class="form-group">
                        <label for="program">StartDate:</label>
                        <input type="date" class="form-control" id="program" name="StartDate" required />
                    </div>
                    <div class="form-group">
                        <label for="rollNo">EndDate:</label>
                        <input type="date" class="form-control" id="rollNo" name="EndDate" required />
                    </div>
                    <div class="form-group">
                        <label for="rollNo">Description:</label>
                        <input type="text" class="form-control" id="rollNo" name="EndDate" required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>